#canvas {
  /* border: 1px solid rgb(255, 0, 0);
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; */
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 199;
  background-color: rgb(0, 0, 0);
}

#conta {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  grid-area: overlap;
  z-index: 100;
  background-color: rgb(255, 195, 195);
  background-color: white;
}

#conta .heading h1 {
  font-family: 'Shizuru', cursive;
  /* font-family: 'Pacifico', cursive; */
}

#brush {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  align-self: center;
  transition: 0s background-color;
}

#brush:hover .brush_color {
  display: block;
  transition-delay: 1s;
}

#input {
  height: 40px;
  /* width: 100%; */
  border: 1px solid rgb(109, 109, 109);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 5px;
}

.stroke-color img {
  height: 40px;
  width: 40px;
  /* border-radius: 50%; */
  margin: 5px;
  background-color: white;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
}

#conta .buttons button {
  background: transparent;
  border: none;
  margin: 5px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  margin: 0px 10px;
  border-radius: 5px;
  font-weight: 800;
  /* display: block; */
}

.color-picker {
  align-self: center;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: none;
}

#grid2 {
  background-size: cover;
  background-color: red;
}

.heading h1 {
  color: brown;
  font-size: 40px;
  margin-right: 15em;
}

.brush_color {
  background-color: white;
  display: none;
}

.brush_color button {
  height: 30px;
  width: 30px;
  transform: rotate(-75deg);
  background: linear-gradient(rgb(0, 226, 0), cyan, rgb(0, 211, 0));
  border-radius: 50%;
  border: 2px solid white;
}

.brush_color input {
  height: 30px;
  width: 30px;
  /* border: 1px solid white; */
  border: none;
  /* border-radius: 50%; */
}

.bg_color_conta {
  /* margin-top: 11rem; */
  /* display: none; */
  background-color: white;
}

.bg_color_conta .random_bg {
  height: 40px;
  width: 40px;
  /* background-color: transparent; */
}

.bg_color_conta input {
  height: 40px;
  width: 40px;
  /* border: 1px solid white; */
  border: none;
  /* border-radius: 50%; */
}

.bg_color_conta input:hover {
  transform: scale(1.9);
  color: pink;
  background-color: green;
}

a:hover .bg_color_conta {
  display: block;
}

#shape {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
}

#shape img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.shape_conta {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 10s;
  position: absolute;
}

.shape_conta button {
  height: 30px;
  width: 70px;
  color: white;
  background-color: rgb(255, 42, 74);
}

.shape_conta button:hover {
  background-color: rgb(255, 139, 156);
}

#shape:hover .shape_conta {
  display: block;
  display: flex;
  flex-direction: column;
  transition-delay: 1s;
}

#texture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* background-color: rgb(96, 133, 255); */
  background-color: white;
  margin: 5px;
}

#texture img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.texture_conta {
  width: 300px;
  display: none;
  cursor: pointer;
  /* transition: 1s; */
  /* position: absolute; */
  /* margin-top: 21rem; */
  /* margin-right: 1rem; */
}

.texture_conta button {
  height: 80px;
  width: 80px;
}

.texture_conta button img {
  height: 80px;
  width: 80px;
  transition: 0.8s;
}

#texture:hover .texture_conta {
  display: block;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.texture_conta button:hover > img {
  transform: scale(2);
}

#eraser {
  margin: 5px;
}

#eraser img {
  height: 40px;
  width: 40px;
}

.stroke-color {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 99, 99);
  margin: 0px;
}
